@import "tailwindcss";

@theme {
  --color-divider: theme(colors.neutral.200);
  --color-weak: theme(colors.neutral.950 / 50%);
  --color-text: theme(colors.neutral.950);

  --color-available: theme(colors.green.200);
  --color-booked: theme(colors.red.200);
  --color-closed: theme(colors.neutral.100);
  --color-tentative: theme(colors.amber.200);
  --color-unavailable: theme(colors.red.200);

  --color-background: theme(colors.neutral.100);
  --color-on-background: theme(colors.neutral.950);
  --color-on-background-weak: theme(colors.neutral.950 / 57%);
  --color-background-divider: theme(colors.neutral.200);

  --color-surface: theme(colors.white);
  --color-on-surface: theme(colors.neutral.950);
  --color-on-surface-weak: theme(colors.neutral.950 / 50%);
  --color-surface-divider: theme(colors.neutral.200);

  --color-error: #d72525;
  --color-on-error: theme(colors.red.50);
  --color-on-error-weak: theme(colors.red.50 / 50%);
  --color-error-divider: theme(colors.red.500);

  --color-warning: #a75c02;
  --color-on-warning: theme(colors.amber.50);
  --color-on-warning-weak: theme(colors.amber.50 / 50%);
  --color-warning-divider: #e37e02;

  --color-info: theme(colors.blue.600);
  --color-on-info: theme(colors.white);
  --color-on-info-weak: theme(colors.white / 50%);
  --color-info-divider: theme(colors.blue.500);

  --color-error-container: theme(colors.red.200);
  --color-on-error-container: theme(colors.red.900);
  --color-on-error-container-weak: theme(colors.red.900 / 50%);
  --color-error-container-divider: theme(colors.red.300);

  --color-warning-container: theme(colors.amber.200);
  --color-on-warning-container: theme(colors.amber.900);
  --color-on-warning-container-weak: theme(colors.amber.900 / 50%);
  --color-warning-container-divider: theme(colors.amber.300);

  --color-info-container: theme(colors.blue.200);
  --color-on-info-container: theme(colors.blue.900);
  --color-on-info-container-weak: theme(colors.blue.900 / 50%);
  --color-info-container-divider: theme(colors.blue.300);
}

@layer utilities {
  .theme-background {
    --color-text: var(--color-on-background);
    --color-text-weak: var(--color-on-background-weak);
    --color-divider: var(--color-background-divider);
    background-color: var(--color-background);
    color: var(--color-text);
  }

  .theme-surface {
    --color-text: var(--color-on-surface);
    --color-text-weak: var(--color-on-surface-weak);
    --color-divider: var(--color-surface-divider);
    background-color: var(--color-surface);
    color: var(--color-text);
  }

  .theme-error-container {
    --color-text: var(--color-on-error-container);
    --color-text-weak: var(--color-on-error-container-weak);
    --color-divider: var(--color-error-container-divider);
    background-color: var(--color-error-container);
    color: var(--color-text);
  }

  .theme-info-container {
    --color-text: var(--color-on-info-container);
    --color-text-weak: var(--color-on-info-container-weak);
    --color-divider: var(--color-info-container-divider);
    background-color: var(--color-info-container);
    color: var(--color-text);
  }

  .theme-warning-container {
    --color-text: var(--color-on-warning-container);
    --color-text-weak: var(--color-on-warning-container-weak);
    --color-divider: var(--color-warning-container-divider);
    background-color: var(--color-warning-container);
    color: var(--color-text);
  }
}
